<!--Mykyta Stenko Personal ExpressPortfolio Assignment 3-->
<div class="container" ng-cloack>
    <div id="aboutBox">
        
         <h1><%= title %></h1>
            <div class="row" >
                <!--  Image -->
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <img class='img-responsive' style='width:100%;' src="images/myPhoto.jpg" />
                </div>
                <!--  Text -->
                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                    <p>     My name is Nikita (Mykyta) Stenko. <br>
                            I am an enthusiastic, fast-learning and proactive IT professional with practical experience and strong educational background in math and software engineering.<br>
                            I currently have Bachelors Degree in Applied Mathematics and Centennial College diploma in Software Engineering. <br>
                            </p>   
                </div>        
            </div>
    </div>           
</div>
        
    

