<!--Mykyta Stenko Personal ExpressPortfolio Assignment 3-->
<div class="container">
    <div id="bodyText">
        <h1><%= title %></h1>
        <p>
            Welcome to Stenko Portfolio Website. <br>                                     <br>
            Computers, websites and everything related to them are my passion. 
            My goal is to improve as an IT professional and to design and develop software that I can be proud of.
        </p>
    </div>
</div>