 <!--Mykyta Stenko Personal ExpressPortfolio Assignment 3-->
<div class="container">
    <div id="bodyText">
     <h1><%= title %></h1>
        <p>Developing software solutions, using C#, .NET, SQL, JavaScript, AngularJS, Angular2+, TypeScript, etc. <br>
    </p>
    </div>

</div>